<a href="https://colab.research.google.com/github/NilSagor/Competition/blob/master/amexpert_2019.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

# Authenticate and create the pydrive client
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [4]:
!ls

adc.json  drive  sample_data

In [5]:
!ls '/content/drive/My Drive/competition_data/amexpert_2019'

sample_submission.csv  test.csv  train

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns 
import warnings 
warnings.filterwarnings('ignore')

In [0]:
train_data = pd.read_csv('/content/drive/My Drive/competition_data/amexpert_2019/train/train.csv')

In [8]:
train_data.head()

   id  campaign_id  coupon_id  customer_id  redemption_status
0   1           13         27         1053                  0
1   2           13        116           48                  0
2   6            9        635          205                  0
3   7           13        644         1050                  0
4   9            8       1017         1489                  0

In [9]:
train_data.isnull().sum()

id                   0
campaign_id          0
coupon_id            0
customer_id          0
redemption_status    0
dtype: int64

In [10]:
train_data['redemption_status'].value_counts()

0    77640
1      729
Name: redemption_status, dtype: int64

In [11]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78369 entries, 0 to 78368
Data columns (total 5 columns):
id                   78369 non-null int64
campaign_id          78369 non-null int64
coupon_id            78369 non-null int64
customer_id          78369 non-null int64
redemption_status    78369 non-null int64
dtypes: int64(5)
memory usage: 3.0 MB

In [12]:
train_data.groupby('redemption_status')['id'].count()

redemption_status
0    77640
1      729
Name: id, dtype: int64

In [13]:
train_data['redemption_status'].value_counts(normalize = True)

0    0.990698
1    0.009302
Name: redemption_status, dtype: float64

In [0]:
item_data = pd.read_csv('/content/drive/My Drive/competition_data/amexpert_2019/train/item_data.csv')

In [15]:
item_data.head()

   item_id  brand   brand_type       category
0        1      1  Established        Grocery
1        2      1  Established  Miscellaneous
2        3     56        Local         Bakery
3        4     56        Local        Grocery
4        5     56        Local        Grocery

In [16]:
item_data.isnull().sum()

item_id       0
brand         0
brand_type    0
category      0
dtype: int64

In [0]:
customer_trans_data = pd.read_csv('/content/drive/My Drive/competition_data/amexpert_2019/train/customer_transaction_data.csv')

In [18]:
customer_trans_data.head()

         date  customer_id  ...  other_discount  coupon_discount
0  2012-01-02         1501  ...          -10.69              0.0
1  2012-01-02         1501  ...          -13.89              0.0
2  2012-01-02         1501  ...          -14.25              0.0
3  2012-01-02         1501  ...            0.00              0.0
4  2012-01-02         1501  ...          -28.14              0.0

[5 rows x 7 columns]

In [19]:
customer_trans_data.isnull().sum()

date               0
customer_id        0
item_id            0
quantity           0
selling_price      0
other_discount     0
coupon_discount    0
dtype: int64

In [0]:
customer_demo_data = pd.read_csv('/content/drive/My Drive/competition_data/amexpert_2019/train/customer_demographics.csv')

In [21]:
customer_demo_data.head()

   customer_id age_range  ... no_of_children  income_bracket
0            1       70+  ...            NaN               4
1            6     46-55  ...            NaN               5
2            7     26-35  ...              1               3
3            8     26-35  ...              2               6
4           10     46-55  ...            NaN               5

[5 rows x 7 columns]

In [22]:
customer_demo_data.isnull().sum()

customer_id         0
age_range           0
marital_status    329
rented              0
family_size         0
no_of_children    538
income_bracket      0
dtype: int64

In [23]:
customer_demo_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 760 entries, 0 to 759
Data columns (total 7 columns):
customer_id       760 non-null int64
age_range         760 non-null object
marital_status    431 non-null object
rented            760 non-null int64
family_size       760 non-null object
no_of_children    222 non-null object
income_bracket    760 non-null int64
dtypes: int64(3), object(4)
memory usage: 41.6+ KB

In [24]:
customer_demo_data.describe()

       customer_id      rented  income_bracket
count   760.000000  760.000000      760.000000
mean    779.201316    0.053947        4.715789
std     459.754429    0.226063        2.258817
min       1.000000    0.000000        1.000000
25%     382.750000    0.000000        3.000000
50%     774.500000    0.000000        5.000000
75%    1187.250000    0.000000        6.000000
max    1581.000000    1.000000       12.000000

In [25]:
customer_demo_data.describe(include="O")

       age_range marital_status family_size no_of_children
count        760            431         760            222
unique         6              2           5              3
top        46-55        Married           2              1
freq         271            317         303            107

In [0]:
coupon_item_data = pd.read_csv('/content/drive/My Drive/competition_data/amexpert_2019/train/coupon_item_mapping.csv')

In [27]:
coupon_item_data.head()

   coupon_id  item_id
0        105       37
1        107       75
2        494       76
3        522       77
4        518       77

In [28]:
coupon_item_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92663 entries, 0 to 92662
Data columns (total 2 columns):
coupon_id    92663 non-null int64
item_id      92663 non-null int64
dtypes: int64(2)
memory usage: 1.4 MB

In [0]:
campaign_data = pd.read_csv('/content/drive/My Drive/competition_data/amexpert_2019/train/campaign_data.csv')

In [31]:
campaign_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 4 columns):
campaign_id      28 non-null int64
campaign_type    28 non-null object
start_date       28 non-null object
end_date         28 non-null object
dtypes: int64(1), object(3)
memory usage: 976.0+ bytes

In [32]:
campaign_data.head()

   campaign_id campaign_type start_date  end_date
0           24             Y   21/10/13  20/12/13
1           25             Y   21/10/13  22/11/13
2           20             Y   07/09/13  16/11/13
3           23             Y   08/10/13  15/11/13
4           21             Y   16/09/13  18/10/13

In [0]:
test_data = pd.read_csv('/content/drive/My Drive/competition_data/amexpert_2019/test.csv')

In [34]:
test_data.head()

   id  campaign_id  coupon_id  customer_id
0   3           22        869          967
1   4           20        389         1566
2   5           22        981          510
3   8           25       1069          361
4  10           17        498          811

In [35]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50226 entries, 0 to 50225
Data columns (total 4 columns):
id             50226 non-null int64
campaign_id    50226 non-null int64
coupon_id      50226 non-null int64
customer_id    50226 non-null int64
dtypes: int64(4)
memory usage: 1.5 MB