In [1]:
import pandas as pd
import sys,os
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline


df_train=pd.read_csv('Data/train.csv')
df_test=pd.read_csv('Data/test.csv')
df_chal=pd.read_csv('Data/challenge_data.csv')
df_chal['publish_date']=pd.to_datetime(df_chal['publish_date'],format='%d-%m-%Y')
df_chal.sort_values(by='publish_date',inplace=True)

print ("Done")
#df_chal['challenge_id']=np.arange(len(df_chal))

Done

In [2]:
df_test['value'] = 1
df_train['value'] = 1

In [4]:
users_items_pivot_matrix_df = df_test.pivot(index='user_id', 
                                                          columns='challenge', 
                                                          values='value').fillna(0)

users_items_pivot_matrix_df_train = df_train.pivot(index='user_id', 
                                                          columns='challenge', 
                                                          values='value').fillna(0)

MemoryError:

In [ ]:
from scipy.sparse.linalg import svds
NUMBER_OF_FACTORS_MF = 100
users_items_pivot_matrix = users_items_pivot_matrix_df.as_matrix()
users_ids = list(users_items_pivot_matrix_df.index)
#Performs matrix factorization of the original user item matrix
U, sigma, Vt = svds(users_items_pivot_matrix, k = NUMBER_OF_FACTORS_MF)

sigma = np.diag(sigma)

In [48]:
from scipy.sparse.linalg import svds
NUMBER_OF_FACTORS_MF = 100
users_items_pivot_matrix = users_items_pivot_matrix_df.as_matrix()
users_ids = list(users_items_pivot_matrix_df.index)
#Performs matrix factorization of the original user item matrix
U, sigma, Vt = svds(users_items_pivot_matrix, k = NUMBER_OF_FACTORS_MF)

sigma = np.diag(sigma)
all_user_predicted_ratings = np.dot(np.dot(U, sigma), Vt) 
cf_preds_df = pd.DataFrame(all_user_predicted_ratings, columns = users_items_pivot_matrix_df.columns, index=users_ids).transpose()

print ("SVD Done")
cf_pred_value = cf_preds_df.transpose()

output ={}
for i in cf_pred_value.index:
    v = cf_pred_value[cf_pred_value.index==i]
    v_t = v.transpose()
    v_t1 = v_t.sort_values([i],ascending=False)
    list_df = list(df_test[df_test.user_id==i]['challenge'])
    count = 11
    for j in v_t1.index:
        if j not in list_df:
            aa = str(i)+"_"+str(count)
            output[aa] = j
            count=count+1
        if count>=14:
            break
print ("Done")


output21 =   pd.DataFrame(output, index=[1])
a1 = output21.transpose()
a1 = a1.reset_index()
a1.columns = ['user_sequence','challenge']
dir_1 = 'C:/Users/shubham.gupta/OneDrive - Opera Solutions USA, LLC/Shubham/Analytics Vidhya/McKinsey_Recommendation/submission/'
file_name = dir_1+ "Freq_100.csv"
a1.to_csv(file_name,index=False)

SVD Done
Done

In [11]:
print('Evaluating Collaborative Filtering (SVD Matrix Factorization) model...')
cf_global_metrics, cf_detailed_results_df = model_evaluator.evaluate_model(cf_recommender_model)
print('\nGlobal metrics:\n%s' % cf_global_metrics)
cf_detailed_results_df.head(10)

Evaluating Collaborative Filtering (SVD Matrix Factorization) model...

NameError: name 'interactions_test_indexed_df' is not defined

In [2]:
users = df_train[['user_id']].drop_duplicates()
users['ds']=np.where(np.random.rand(len(users))>0.75,'valid','train')
df_train = df_train.merge(users,right_on="user_id",left_on="user_id", how="inner")
df_test['ds'] = 'test'
master=pd.merge(pd.concat([df_train,df_test]),df_chal,left_on=['challenge'],right_on=['challenge_ID'])
master.sort_values(by=['user_id','challenge_sequence'],inplace=True)

In [3]:
def get_datasegment(master,valid=True):
    if valid==True:
        a1=master[master['ds'].isin(['train'])]
        a2=master[master['ds'].isin(['valid'])]
        a3=a2[a2['challenge_sequence']<=10]
        a4=a2[a2['challenge_sequence']>10]
        return a1,a3,a4
    else:
        return master[master['ds'].isin(['train','valid'])],master[master['ds'].isin(['test'])],[]

train,test,target=get_datasegment(master,valid=False)

In [68]:
train_last3 = train[train.challenge_sequence>10]
challenge_grp = train_last3.groupby(['challenge'])['user_id'].count()

a = pd.DataFrame(challenge_grp)
a.columns = ['count']
a = a.sort_values(by='count', ascending=False)
a = a.reset_index()
freq_list = a['challenge'].unique()

In [69]:
user_id_test = df_test['user_id'].unique()
output = {}
for user in user_id_test:
    uses_list = df_test[df_test.user_id==user]['challenge'].unique()
    count = 11
    for j in freq_list:
        if j not in uses_list:
            aa = str(user)+"_"+str(count)
            output[aa] = j
            count=count+1
        if count>=14:
            break
    
print (uses_list)

['CI23769' 'CI23933' 'CI25175' 'CI24866' 'CI23648' 'CI23691' 'CI24138'
 'CI23714' 'CI24530' 'CI23612']

In [70]:
output21 =   pd.DataFrame(output, index=[1])
a1 = output21.transpose()
a1 = a1.reset_index()
a1.columns = ['user_sequence','challenge']
dir_1 = 'C:/Users/shubham.gupta/OneDrive - Opera Solutions USA, LLC/Shubham/Analytics Vidhya/McKinsey_Recommendation/submission/'
file_name = dir_1+ "Freq_2.csv"
a1.to_csv(file_name,index=False)

In [37]:
output1 = pd.DataFrame(output.items())
output1.to_csv('model1.csv',index=False)

In [20]:
train_1  = pd.get_dummies(train, columns=["programming_language", "challenge_series_ID","author_gender","category_id"], prefix=["PL", "CL","AG","CID"])

In [34]:
output

,100001_11,100001_12,100001_13,100003_11,100003_12,100003_13,100005_11,100005_12,100005_13,100007_11,...,99992_13,99994_11,99994_12,99994_13,99997_11,99997_12,99997_13,99999_11,99999_12,99999_13
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
train_1.head()

,user_sequence,user_id,challenge_sequence,challenge,ds,challenge_ID,total_submissions,publish_date,author_ID,author_org_ID,...,CID_230.0,CID_233.0,CID_238.0,CID_239.0,CID_246.0,CID_247.0,CID_250.0,CID_259.0,CID_274.0,CID_304.0
40015,4580_1,4580,1,CI23663,train,CI23663,8897.0,2004-09-15,AI563724,AOI100098,...,0,0,0,0,0,0,0,0,0,0
12459,4580_2,4580,2,CI23855,train,CI23855,20993.0,2006-07-24,AI563823,NaN,...,0,0,0,0,0,0,0,0,0,0
52092,4580_3,4580,3,CI23933,train,CI23933,15086.0,2006-07-27,AI563783,AOI100149,...,0,0,0,0,0,0,0,0,0,0
73634,4580_4,4580,4,CI23975,train,CI23975,9204.0,2005-01-24,AI563823,NaN,...,0,0,0,0,0,0,0,0,0,0
127564,4580_5,4580,5,CI24530,train,CI24530,6814.0,2006-09-26,AI563815,AOI100173,...,0,0,0,0,0,0,0,0,0,0

In [22]:
col = list(train_1.columns)
remove_list = ['user_sequence','user_id','challenge_sequence','challenge','ds','challenge_ID','total_submissions','publish_date','author_ID','author_org_ID']
col = list(filter(lambda x: x not in remove_list, col))

train_grp = train_1.groupby(['user_id'])[col].sum()

In [26]:
train_grp['user_id'] = train_grp.index
train_grp.to_csv('train_pre_processing.csv',index=False)

In [27]:
test_1  = pd.get_dummies(test, columns=["programming_language", "challenge_series_ID","author_gender","category_id"], prefix=["PL", "CL","AG","CID"])
col = list(test_1.columns)
remove_list = ['user_sequence','user_id','challenge_sequence','challenge','ds','challenge_ID','total_submissions','publish_date','author_ID','author_org_ID']
col = list(filter(lambda x: x not in remove_list, col))

test_grp = test_1.groupby(['user_id'])[col].sum()

In [33]:
columns_test = test_grp.columns
for i in columns_test:
    test_grp[i] = (test_grp[i]*1.3)
test_grp = test_grp.reset_index()
test_grp.to_csv('test_pre_processing.csv',index=False)

In [58]:
a = list(train_grp.columns)
b = list(test_grp.columns)
for i in a:
    if i not in b:
        test_grp[i] = 0
        
        
a = list(train_grp.columns)
b = list(test_grp.columns)
for i in b:
    if i not in a:
        test_grp.drop(i, axis = 1, inplace = True)

,user_id,PL_1,PL_2,PL_3,CL_SI2435,CL_SI2436,CL_SI2439,CL_SI2440,CL_SI2441,CL_SI2442,...,CID_219.0,CID_220.0,CID_221.0,CID_223.0,CID_224.0,CID_225.0,CID_226.0,CID_238.0,CID_247.0,CID_259.0
1,4582,13.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [114]:
test_vk = test_grp.values.tolist()
train_vk = train_grp.values.tolist()

In [ ]:
test_vk_sample = test_vk
final_results = {}
for vk in test_vk:
    v1 = vk[1:]
    corr_value  = {}
    for vtrain in train_vk:
        v2 = vtrain[:-1]
        corr_v = np.corrcoef(v1,v2)
        corr_value[vtrain[-1]] = corr_v[0][1]
    
    v1_list=[]
    newA = list(sorted(corr_value.items(), key=operator.itemgetter(1), reverse=True)[:5])
    for j in newA:
        v1_list.append(j[0])
    final_results[vk[0]] = v1_list
print ("Done")

In [139]:
a = pd.DataFrame(final_results)
a.head()

   4576.0  4582.0
0   62046   62046
1   99656   67943
2  110260   84852
3   67943   99656
4   70860   71679

In [122]:
corr_value_s = sorted(corr_value.values())

In [128]:
newA = list(sorted(corr_value.items(), key=operator.itemgetter(1), reverse=True)[:5])
newA

[(62046, 0.5658685920389882),
 (99656, 0.5646864285075788),
 (110260, 0.5637739716181243),
 (67943, 0.5634236807449161),
 (70860, 0.5616045206342356)]

(62046, 0.5658685920389882)

In [109]:
test_grp.columns

Index(['user_id', 'PL_1', 'PL_2', 'PL_3', 'CL_SI2435', 'CL_SI2436',
       'CL_SI2439', 'CL_SI2440', 'CL_SI2441', 'CL_SI2442',
       ...
       'CID_164.0', 'CID_207.0', 'CID_208.0', 'CID_230.0', 'CID_233.0',
       'CID_239.0', 'CID_246.0', 'CID_250.0', 'CID_274.0', 'CID_304.0'],
      dtype='object', length=620)

In [110]:
train_grp.columns

Index(['PL_1', 'PL_2', 'PL_3', 'CL_SI2435', 'CL_SI2436', 'CL_SI2437',
       'CL_SI2438', 'CL_SI2439', 'CL_SI2440', 'CL_SI2441',
       ...
       'CID_233.0', 'CID_238.0', 'CID_239.0', 'CID_246.0', 'CID_247.0',
       'CID_250.0', 'CID_259.0', 'CID_274.0', 'CID_304.0', 'user_id'],
      dtype='object', length=620)